li
    h3 {{ fullName }}
    h4  ${{ hourlyRate }}/hour
    div
        base-badge(v-for='area in areas' :key='area' :type='area' :title='area')
    .actions
        base-button(link mode='outline' :to='coachContactLink') Contact
        base-button(link :to='coachDetailsLink') View Details
