header
    nav
        h1
            router-link(to='/') Find a coach
        ul
            li
                router-link(to='/coaches') All Coaches
            li
                router-link(to='/requests') Requests