section Filter
section
    .controls
        button Refresh
        router-link(to='/register') Register
    ul(v-if='hasCoaches') List of Coachees
        li(v-for='coach in filteredCoaches' :key='coach.id') {{coach.firstName}}
    h3(v-else) No coaches found