section
    coach-filter(@change-filter='setFilters')
section
    base-card
        .controls
            base-button(mode='outline' @click='loadCoaches') Refresh
            base-button(to='/register' link ) Register
            // v-if='!isCoach' to base button let user only once add as coach
        ul(v-if='hasCoaches')
            coach-item(
                v-for='coach in filteredCoaches'
                :key='coach.id'
                :id='coach.id'
                :firstName='coach.firstName'
                :lastName='coach.lastName'
                :areas='coach.areas'
                :hourlyRate='coach.hourlyRate')
        h3(v-else) No coaches found