base-card
    h2 Find Your Coach
    span.filter-option
        input(type='checkbox' id='frontend' checked @change='setFilter')
        label(for='frontend') Frontend
    span.filter-option
        input(type='checkbox' id='backend' checked @change='setFilter')
        label(for='backend') Backend
    span.filter-option
        input(type='checkbox' id='career' checked @change='setFilter')
        label(for='career') Career
